<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Movie Datababase Search</title>
    <link rel="icon" href="/icon.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="/app.css">
</head>
<body>